-e git+https://github.com/heartrithm/exchanges.git#egg=exchanges  # via -r requirements.in
    # via -r requirements.in
aiofiles==0.4.0
    # via
    #   tardis-client
    #   tardis-dev
aiohttp==3.8.1
    # via
    #   tardis-client
    #   tardis-dev
aiosignal==1.2.0
    # via aiohttp
arrow==0.15.7
    # via
    #   -r requirements.in
    #   exchanges
async-timeout==4.0.2
    # via aiohttp
attrs==21.4.0
    # via aiohttp
boto3==1.21.17
    # via -r requirements.in
botocore==1.24.17
    # via
    #   boto3
    #   s3transfer
cachetools==5.0.0
    # via exchanges
certifi==2020.4.5.2
    # via requests
chardet==3.0.4
    # via requests
charset-normalizer==2.0.12
    # via aiohttp
frozenlist==1.3.0
    # via
    #   aiohttp
    #   aiosignal
idna==2.9
    # via
    #   requests
    #   yarl
influxdb==5.3.0
    # via -r requirements.in
jmespath==0.10.0
    # via
    #   boto3
    #   botocore
loguru==0.6.0
    # via
    #   -r requirements.in
    #   exchanges
msgpack==0.6.1
    # via influxdb
multidict==6.0.2
    # via
    #   aiohttp
    #   yarl
python-dateutil==2.8.2
    # via
    #   arrow
    #   botocore
    #   influxdb
    #   tardis-dev
pytz==2020.1
    # via influxdb
ratelimit==2.2.1
    # via -r requirements.in
ratelimiter==1.2.0.post0
    # via exchanges
requests==2.23.0
    # via
    #   -r requirements.in
    #   exchanges
    #   influxdb
s3transfer==0.5.2
    # via boto3
six==1.15.0
    # via
    #   influxdb
    #   python-dateutil
sortedcontainers==2.4.0
    # via
    #   tardis-client
    #   tardis-dev
tardis-client==1.3.1
    # via -r requirements.in
tardis-dev==2.0.0a10
    # via -r requirements.in
ujson==3.0.0
    # via exchanges
urllib3==1.25.9
    # via
    #   botocore
    #   requests
yarl==1.7.2
    # via aiohttp
